/**
 * Fonts
 */
@font-face {
  font-family: "AlternateGothicEF-NoTwo";
  src: url("../fonts/AlternateGothicEF-NoTwo.ttf");
}
@font-face {
  font-family: "AlternateGothicEF-NoThree";
  src: url("../fonts/AlternateGothicEF-NoThree.ttf");
}
body {
  background-color: #e6e6e6;
  font-family: "AlternateGothicEF-NoThree", sans-serif;
  color: #e6e6e6;
  /* Smoothing on Webkit/OSX, Windows is OK (and ignores this anyway) */
  -webkit-font-smoothing: antialiased;
}
a {
  position: absolute;
  top: 730px;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  /*background-color: white;*/
  background-image: url('../img/tf2.png');
}
/**
 * General classes
 */
.textShadow {
  text-shadow: rgba(0, 0, 0, 0.8) 1px 2px 3px;
}
.textShadowFaint {
  text-shadow: rgba(0, 0, 0, 0.6) 1px 2px 3px;
}
.topRoundedGrayContainer {
  position: relative;
  background-color: #282828;
  border: solid 1px #303030;
  border-radius: 5px 5px 4px 4px;
  width: 118px;
  height: 115px;
}
.topRoundedGrayContainer .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "AlternateGothicEF-NoTwo", sans-serif;
  font-size: 18px;
}
.topRoundedGrayContainer .image {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 106px;
  height: 85px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-image: url('../img/staff/higps.png');
  background-position: center center;
  background-size: cover;
}
.bottomRoundedGrayContainer {
  background-color: #282828;
  border: solid 1px #303030;
  border-radius: 4px 4px 5px 5px;
  width: 92px;
  height: 90px;
}
.bottomRoundedGrayContainer .label {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "AlternateGothicEF-NoTwo", sans-serif;
  font-size: 18px;
}
.bottomRoundedGrayContainer .image {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 84px;
  height: 68px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/**
 * Bars
 */
#topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 112px;
  background-color: rgba(68, 68, 68, 0.7);
}
#topBarThin {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 41px;
  background-color: #282828;
}
#bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1280px;
  height: 83px;
  background-color: rgba(68, 68, 68, 0.7);
}
#bottomBarThin {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1280px;
  height: 41px;
  background-color: #282828;
}
/**
 * VTV & TFTV logos
 */
#birdie {
  position: absolute;
  top: 2px;
  left: 20px;
  width: 48px;
  height: 43px;
  background-image: url('../img/birdie.png');
  background-size: 48px 43px;
}
#tftv {
  position: absolute;
  top: -4px;
  left: 72px;
  width: 48px;
  height: 48px;
  background-image: url('../img/tftv.png');
  background-size: cover;
}
/**
 * Event details.
 * Multiplay logo, various text elements
 */
#multiplayLogo {
  position: absolute;
  top: 44px;
  left: 13px;
  width: 67px;
  height: 68px;
  background-image: url('../img/multiplay-prerendered.png');
  background-size: 67px 68px;
}
#eventName {
  position: absolute;
  top: 47px;
  left: 95px;
  height: 42px;
  font-size: 36px;
  letter-spacing: 0.05em;
}
#sponsor {
  position: absolute;
  top: 83px;
  left: 95px;
  font-size: 18px;
  letter-spacing: 0.02em;
}
#customMessage {
  position: absolute;
  top: 45px;
  left: 18px;
  font-family: "AlternateGothicEF-NoTwo", sans-serif;
  font-size: 28px;
  letter-spacing: 0.01em;
}
/**
 * Sponsors
 */
#TTeSports {
  position: absolute;
  top: -54px;
  left: 34px;
}
#TTeSports .image {
  background: url('../img/ttesports.png') 0 -8px;
}
#club3D {
  position: absolute;
  top: -54px;
  left: 145px;
}
#club3D .image {
  background-image: url('../img/club3d.png');
}
#aquaTuning {
  position: absolute;
  top: -54px;
  left: 255px;
}
#aquaTuning .image {
  background: url('../img/aquatuning.png') 0 -8px;
}
/**
 * Active staff
 * Casters/Interviewer get caster class
 * Streamer/Live cameraman gets streamer
 */
#staffContainer {
  position: absolute;
  top: 4px;
  right: 14px;
  height: 156px;
  /* width is dynamic */
  padding-left: 5px;
  padding-right: 5px;
}
.staffMember {
  padding-left: 5px;
  padding-right: 5px;
  height: 156px;
  width: 118px;
  float: right;
  position: relative;
}
.staffIcon {
  width: 100%;
  height: 41px;
  background: no-repeat center 0;
}
.streamer {
  background-image: url('../img/camera.png');
  /* icon is a little smaller, should fix it */
  background-position: center 4px;
}
.caster {
  background-image: url('../img/mic.png');
}
/**
 * Social links
 */
#socialLinks {
  position: absolute;
  bottom: 0;
  right: 18px;
  font-family: "AlternateGothicEF-NoTwo", sans-serif;
  font-size: 24px;
  letter-spacing: 0.02em;
  vertical-align: top;
}
#socialLinks img {
  width: 26px;
  height: 26px;
}
