#vtv-pregame {
  .radio {
    display: inline-block;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-inline {
    margin: 0 8px 8px;
  }

  .container-fluid {
    margin-bottom: 8px;
  }
}