<!DOCTYPE html>
<html>
<head>
	<%- setupScript %>

	<link href="css/style.css" rel="stylesheet"/>
    <script src="jquery.min.js"></script>
    <script src="vtv-overlay.js"></script>
</head>
<body>

<div id="container">
	<div id="topBar">
		<div id="topBarThin"></div>
		<!-- Logos -->
		<div id="multiplayLogo"></div>
		<div id="birdie"></div>
		<div id="tftv"></div>

		<!-- Event text -->
		<div id="eventName" class="textShadow">Multiplay Insomnia 52</div>
		<div id="sponsor" class="textShadowFaint">Sponsored by: Aquatuning</div>

		<!-- Streamer/casters -->
		<!-- Long names for debugging -->
		<div id="staffContainer">
			<div class="staffMember hidden" id="streamer">
				<div class="staffIcon streamer"></div>
				<div class="topRoundedGrayContainer">
                    <div class="label" id="streamerLabel"></div>
                    <div class="image" id="streamerImage"></div>
				</div>
			</div>
			<div class="staffMember hidden" id="rCaster">
				<div class="staffIcon caster"></div>
				<div class="topRoundedGrayContainer">
					<div class="label" id="rCasterLabel"></div>
					<div class="image" id="rCasterImage"></div>
				</div>
			</div>
			<div class="staffMember hidden" id="lCaster">
				<div class="staffIcon caster"></div>
				<div class="topRoundedGrayContainer">
					<div class="label" id="lCasterLabel"></div>
					<div class="image" id="lCasterImage"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="bottomBar">
		<div id="bottomBarThin"></div>

		<div id="TTeSports" class="bottomRoundedGrayContainer">
			<div class="label">TTeSports</div>
			<div class="image"></div>
		</div>
		<div id="club3D" class="bottomRoundedGrayContainer">
			<div class="label">Club 3D</div>
			<div class="image"></div>
		</div>
		<div id="aquaTuning" class="bottomRoundedGrayContainer">
			<div class="label">Aqua Tuning</div>
			<div class="image"></div>
		</div>

		<div id="customMessage" class="textShadow">Group Stage</div>

		<div id="socialLinks">
			<!--<img src="img/social/web.png"/>-->
			TeamFortress.TV
			<img src="img/social/twitch.png"/>
			<img src="img/social/twitter.png"/>
			<img src="img/social/youtube.png"/>
			<img src="img/social/steam.png"/>
			TeamFortressTV
		</div>
	</div>
</div>
</body>
</html>
